---
---

@import "jekyll-theme-slate";
.tab {
            position: sticky;
            top: 0;
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
}
.tablinks {
            text-decoration: none;
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            color: black;
}
.tab a:hover{
            text-decoration: none;
            background-color: #ddd;
}
